@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@400;700&display=swap');
html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}
.App {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #ebebeb;
}
a {
  text-decoration: none;
}
.MuiLinearProgress-barColorPrimary {
  background-color: greenyellow !important;
}
